# 依赖目录
node_modules
npm-debug.log

# 开发文件
.git
.gitignore
.env
.env.*
.editorconfig
.eslintrc
.prettierrc
README.md
LICENSE
*.md

# 测试文件
__tests__
*.test.*
*.spec.*

# 其他
.DS_Store
.vscode
.idea
*.log
tmp